body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  color: #3c301e;
}

img {
  width: 100%;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;
}

.header-logo {
  width: 200px;
  margin: 0 auto;
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.header-nav-link {
  color: #ffffff;
}

.nav-list-menu {
  display: none;
  width: 50%;
  margin: 0 auto;
  background-color: #000;
  text-align: center;
}

.list-menu-item {
  margin-top: 20px;
}

.menu-item-link {
  color: #fff;
}


/*共通クラス */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-l {
  color: #ffffff;
}

.section-heading-main {
  display: block;
  font-size: 40px;
}

.section-heading-sub {
  display: block;
  font-size: 12px;
}

/* ファーストビュー */
.fv-picture img {
  width: 100%;
}

/* aboutセクション */
.about {
  padding: 40px 0;
  background-color: #f1eee4;
}

.about-text-contents {
  margin-top: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 2;
}

.about-text + .about-text {
  margin-top: 16px;
}

/* menuセクション */
.menu {
  background-color: #f1eee4;
  padding: 80px 0;
}

.menu-item + .menu-item {
  margin-top: 62px;
}

.menu-text-contents {
  text-align: center;
  padding: 16px 10px;
}

.menu-name-main {
  font-size: 18px;
  display: block;
}

.menu-name-sub {
  color: #a98c5f;
  font-size: 12px;
  display: block;
  margin-top: 8px;
}

.menu-text {
  font-size: 14px;
  color: #a98c5f;
  margin-top: 16px;
}

/* モーダル */

.menu-img a:hover{
  opacity: 0.8;
}

.menu-img a img {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.big-img {
  position: absolute;
  width: 80%;
  max-width: 100%;
  top: 250px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.close-btn {
  color: #fff;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 0px;
}

.close-btn a {
  color: #fff;
  text-decoration: none;
}

/* shopセクション */
.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
}

.shop-inner {
  padding: 0 20px;
}

.shop-text {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

.form {
  margin-top: 40px;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  padding: 14px;
}

/* .form-input::placeholder {
  color: red;
} */

.form-submit {
  border-radius: 4px;
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  display: block;
  margin: 10px auto 0;
  width: 120px;
  padding: 12px 10px;
  color: #ffffff;
  background-color: #a98c5f;
}

/* footer */

.footer {
  background-color: #3c301e;
  text-align: center;
  padding-top: 46px;
  color: #fff;
}

.footer-logo {
  width: 200px;
  margin: 0 auto;
}

.footer-text {
  font-size: 12px;
}

.footer-nav-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-nav-link-text {
  font-size: 12px;
  margin-top: 12px;
}

.sns-img {
  width: 56px;
}

.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  padding: 12px;
  margin-top: 46px;
}

.footer-copylight {
  font-size: 12px;
}

.page-top-button {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 60px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 50%;
  margin-right: 20px;
  line-height: 45px;
}

.page-top-button a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
}

/* タブレット、PCサイズの表示 */
@media screen and (min-width: 768px) {
  body {
    letter-spacing: 0.05em;
    color: #3c301e;
  }

  .header {
    padding: 16px;
  }

  .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin: 0;
  }

  .header-nav-list {
    gap: 40px;
  }

  .header-nav-link {
    transition: opacity 0.3s;
  }

  .header-nav-link:hover {
    opacity: 0.7;
  }

  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .section-heading-main {
    font-size: 64px;
  }

  .about {
    padding: 100px 0;
  }

  .about-contents {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .about-img {
    width: 300px;
  }

  .about-text-contents {
    margin-top: 0;
  }

  .about-text {
    font-size: 15px;
  }

  .about-text + .about-text {
    margin-top: 30px;
  }

  .menu {
    padding: 0 0 100px;
  }

  .menu-list {
    display: flex;
    gap: 20px;
  }

  .menu-item + .menu-item {
    margin-top: 0;
  }

  .shop {
    background-image: url(../img/bg-shop.png);
    background-position: center center;
    background-size: cover;
    padding: 60px 0;
  }

  .shop-inner {
    max-width: 600px;
    margin: 0 auto;
  }

  .form {
    display: flex;
    gap: 20px;
  }

  .form-submit {
    margin-top: 0;
    transition: opacity 0.3s;
  }

  .form-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .footer-text {
    margin-top: 12px;
  }

  .footer-nav-list {
    gap: 40px;
  }

  .footer-copylight {
    font-size: 13px;
  }
}
